
.portfolioHeaderReverse{
    flex-direction: column-reverse;
}

.portfolioHeader {
    display: flex;
    height: calc(100vh - 64px);
    flex-direction: row;
    height: 500px;

    
    .photo1{
        background-image: url(../assets/cat.jpg);
    }
    .photo2{
        background-image: url(../assets/dog.jpg);
    }
    .photo3{
        background-image: url(../assets/profile.jpg);
    }
    .photo1, .photo2, .photo3 {
        background-repeat: no-repeat;
        background-size: cover;  /* cover 确保图片完全覆盖容器 */
        background-position: center;
        margin-left: 30px;
        flex: 1;
        height: 500px;
        width: auto;
    }
    
    .content {
        flex: 1;
        padding: 50px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact, .resume, .client {
        margin-top: 20px;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        flex-direction: column;
        height: unset;
        .photo {
            flex: unset;
            height: 1000px;
            margin: 0;
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        height: unset;
        .photo {
            flex: unset;
            margin: 0;
            height: 500px;
        }
        .content{
            padding: 20px;
        }


    }
}

.portfolioHeaderReverse{
    flex-direction: row-reverse;
}