.aboutHeader{
    background-color:#3b5671;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
    
    .content{
        margin-right: 40%;
        font-size: 20px;
        padding: 40px;
        width: 60%;
    }

    @media (max-width: 480px) {
        .content {
            margin-right: 0;
            padding: 20px;
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        .content {
            padding: 30px;
            margin-right: 20%;
        }
    }
}

.photosSection {
    height: 500px;
    display: flex;

    .photo {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        flex: 1; 
    }
    .photo1{
        background-image: url(../assets/cat.jpg);
    }
    .photo2{
        background-image: url(../assets/dog.jpg);
    }
    .photo3{
        background-image: url(../assets/profile.jpg);
    }

    @media (max-width: 480px) {
        flex-direction: column;
        height: 1400px;
    }
}