.interestSection{
    background-color: rgb(255, 255, 255);


    .interestWrapper{
        display: flex;
        text-align: left;

        .sectionHeader{
            margin-bottom: 30px;
            font-size: 40px;
        }

        .contentWrapper{
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 20px;
            flex-direction: column;
            align-items: start;
        }
        .img {
            width: 50%;
            height: auto;
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        padding: 0;
        gap: 0;

        .text{
            padding: 10px 20px;
            text-align: left;
        }

    }

    @media (min-width: 481px) and (max-width: 768px) {
        flex-direction: column;

        .text {
            text-align: left;
        }
    }
}