.navContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    height: 64px;

    background: #FEFEFE;
    background: linear-gradient(135deg, #FEFEFE, #e5e5e5);

    @media (max-width: 480px) {
      padding: 20px 10px;
      .homePage {
            display: none;
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 15px;
    } 
}

.navLinks{
    display: flex;
    gap: 10px;
    font-weight: 600;
}

.homeIcon {
    height: 24px;
    width: 24px;
}